@model CW2.Models.CustomerViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    @if (Model.ProfilePic != null && Model.ProfilePic.Length > 0)
                    {
                        <img src="@Url.Action("GetImage", "Customer", new { id = Model.CustomerId })" class="img-account-profile rounded-circle mb-2" title="Profile photo" width="160" height="160" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/imgs/defaultProfilePic.jpg")" class="img-account-profile rounded-circle mb-2" title="Profile photo" width="160" height="160" />
                    }
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form asp-action="Edit" asp-controller="Customer" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="CustomerId" class="small mb-1"></label>
                            <input asp-for="CustomerId" class="form-control" readonly />
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="form-group col-md-6">
                                <label asp-for="FirstName" class="small mb-1"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="LastName" class="small mb-1"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Login" class="small mb-1 control-label"></label>
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="form-group col-md-6">
                                <label class="small mb-1 control-label">New password</label>
                                <input asp-for="PasswordHash" class="form-control" />
                                <span asp-validation-for="PasswordHash" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="small mb-1 control-label">Confirm password</label>
                                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="form-group col-md-6">
                                <label asp-for="FlatNo" class="small mb-1"></label>
                                <input asp-for="FlatNo" class="form-control" />
                                <span asp-validation-for="FlatNo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="BuildingNo" class="small mb-1"></label>
                                <input asp-for="BuildingNo" class="form-control" />
                                <span asp-validation-for="BuildingNo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="form-group col-md-6">
                                <label asp-for="Street" class="small mb-1"></label>
                                <input asp-for="Street" class="form-control" />
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="City" class="small mb-1"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="PostalCode" class="small mb-1"></label>
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>

                        <div class="row gx-3 mb-3">
                            <div class="form-group col-md-6">
                                <label asp-for="PhoneNumber" class="small mb-1"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label small mb-1">ProfilePic</label>
                                <input type="file" name="imageFile" accept=".jpg,.png" class="form-control" />
                                <span asp-validation-for="ProfilePic" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <input type="submit" value="Save changes" class="btn btn-primary" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}